*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #101820;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: var(--clr);
    border-radius: 20px;
    border-top-left-radius: 70px;
    overflow: hidden;

}
.container .card .box{
    inset: 10px;
    border-radius: 10px;
    position: absolute;
    background: #101820;
}
.container .card .box .icon{
    position: absolute;
    background: var(--clr);
    width: 140px;
    height: 140px;
    border-bottom-right-radius: 50%;
    transition: 0.5s;
    
}
.container .card:hover .box .icon{
    width:100%;
}
.container .card .box .icon::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top-left-radius: 50%;
    background:transparent;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.container .card .box .icon::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: -30px;
    border-top-left-radius: 50%;
    background:transparent;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.container .card .box .icon .iconB{
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #101820;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
 display: flex;
 justify-content: center;
align-items: center;
font-weight: 600;

}
.container .card .box .icon .iconB{

font-size: 4rem;
color: aliceblue;


}

.container .card .box .content{
    position: absolute;
    top: 150px;
    padding: 20px;
    text-align: center;
}
.container .card .box .content h3{
    color: aliceblue;
    font-size: 1.35em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:0.12em;
  
}
.container .card .box .content p{
    color: aliceblue;
    font-size: 0.95em;
    opacity: 0.75;
    margin: 0 0 10px ;
}
.container .card .box .content a{
    background: var(--clr);
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
    color: #101820;
    margin-top: 20px;

}
.container .card .box .content a:hover{
    letter-spacing: 0.2em;
    transform: translateY(-10px);
}









